---
import InternationalSavory from './InternationalSavory';
---
<div class="w-full">
    <section id="pasta-baked-savory" class="py-40 min-h-[150dvh]">
        <hgroup class="space-y-24">
            <div class="flex w-full items-center gap-10">
                <div class="bg-foreground w-1/2 h-px" />
                <h2 class="text-5xl font-cursive">Pasta & Baked Savory</h2>
            </div>
            <p class="text-2xl w-2/3"><span class="font-semibold">Golden, bubbling comfort.</span> Hearty bakes and creamy cheese creations, fresh from the oven, offering deep warmth in every layer.</p>
        </hgroup>
    </section>
    <section id="indonesian-savory" class="py-40 min-h-[150dvh]">
        <hgroup class="space-y-24">
            <div class="flex w-full items-center gap-10">
                <div class="bg-foreground w-1/2 h-px" />
                <h2 class="text-5xl font-cursive">Indonesian Savory</h2>
            </div>
            <p class="text-2xl w-2/3"><span class="font-semibold">A taste of heritage.</span> Bold, aromatic flavors and rich spice blends that capture the soulful, exhilarating heart of Indonesian cuisine.</p>
        </hgroup>
    </section>
    <section id="dessert-sweet-baked" class="py-40 min-h-[150dvh]">
        <hgroup class="space-y-24">
            <div class="flex w-full items-center gap-10">
                <div class="bg-foreground w-1/2 h-px" />
                <h2 class="text-5xl font-cursive">Dessert & Sweet Baked</h2>
            </div>
            <p class="text-2xl w-2/3"><span class="font-semibold">The perfect finish.</span> Indulgent treats, decadent chocolate escapes, and moist, sweet slices that melt away the moment.</p>
        </hgroup>
    </section>
    <section id="light-bites-appetizer" class="py-40 min-h-[150dvh] bg-secondary">
        <hgroup class="space-y-24">
            <div class="flex w-full items-center gap-10">
                <div class="bg-foreground w-1/2 h-px" />
                <h2 class="text-5xl font-cursive">Light Bites & Appetizer</h2>
            </div>
            <p class="text-2xl w-2/3"><span class="font-semibold">Fresh starts and little cravings.</span> Perfectly portable snacks, from crispy street food to bright, fresh rolls, built for pleasure.</p>
        </hgroup>
    </section>
    <InternationalSavory client:visible />
</div>